@model IEnumerable<NM_Forms.BL.Insurer>

@{
    ViewBag.Title = "Insurer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Insurer
        </th>
        <th>
            Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Insurer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveYN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Insurer_ID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Insurer_ID  })
        </td>
    </tr>
}

</table>
