@model NM_Forms.BL.QuoteFeedback

@{
    ViewBag.Title = "AddQuote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddQuote</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuoteFeedback</legend>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.QuoteFeedback_ID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.QuoteFeedback_ID)
            @Html.ValidationMessageFor(model => model.QuoteFeedback_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.QuoteRequest_ID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.QuoteRequest_ID)
            @Html.ValidationMessageFor(model => model.QuoteRequest_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Insurer_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Insurer_ID", (IEnumerable<SelectListItem>)ViewData["list1"], new { id = "Insurer_ID",required = true,maxlength = 100,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Insurer_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Insurer)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Insurer)
            @Html.ValidationMessageFor(model => model.Insurer)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.Indemnity_limit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indemnity_limit)
            @Html.ValidationMessageFor(model => model.Indemnity_limit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Premium_Annual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Premium_Annual)
            @Html.ValidationMessageFor(model => model.Premium_Annual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Excess)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Excess)
            @Html.ValidationMessageFor(model => model.Excess)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Excess_Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Excess_Type)
            @Html.ValidationMessageFor(model => model.Excess_Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Wording)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Wording)
            @Html.ValidationMessageFor(model => model.Wording)
        </div>

     

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Active_YN)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Active_YN)
            @Html.ValidationMessageFor(model => model.Active_YN)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
