@model NM_Forms.BL.QuoteRequest

@{
    ViewBag.Title = "CreateQuoteRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateQuoteRequest</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuoteRequest</legend>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.QuoteRequest_ID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.QuoteRequest_ID)
            @Html.ValidationMessageFor(model => model.QuoteRequest_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.UniqueID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.UniqueID)
            @Html.ValidationMessageFor(model => model.UniqueID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.ClientMasterID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.ClientMasterID)
            @Html.ValidationMessageFor(model => model.ClientMasterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Businesstype_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Businesstype_ID", (IEnumerable<SelectListItem>)ViewData["list1"], new { id = "Businesstype_ID",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Businesstype_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Business_Type)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Business_Type)
            @Html.ValidationMessageFor(model => model.Business_Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Business_Discipline_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Business_Discipline_ID", (IEnumerable<SelectListItem>)ViewData["list2"], new { id = "Business_Discipline_ID",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Business_Discipline_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Business_Discipline)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Business_Discipline)
            @Html.ValidationMessageFor(model => model.Business_Discipline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Limit_PerClaim_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Limit_PerClaim_ID", (IEnumerable<SelectListItem>)ViewData["list3"], new { id = "Limit_PerClaim_ID",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Limit_PerClaim_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Limit_PerClaim)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Limit_PerClaim)
            @Html.ValidationMessageFor(model => model.Limit_PerClaim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Limit_PerPeriod_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Limit_PerPeriod_ID", (IEnumerable<SelectListItem>)ViewData["list3"], new { id = "Limit_PerPeriod_ID",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Limit_PerPeriod_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.Limit_PerPeriod)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.Limit_PerPeriod)
            @Html.ValidationMessageFor(model => model.Limit_PerPeriod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Private_Consultations)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Stats_Private_Consultations)
            @Html.ValidationMessageFor(model => model.Stats_Private_Consultations)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Private_Procedures)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_Private_Procedures)
            @Html.ValidationMessageFor(model => model.Stats_Private_Procedures)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_State_Consultations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_State_Consultations)
            @Html.ValidationMessageFor(model => model.Stats_State_Consultations)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_State_Procedures)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_State_Procedures)
            @Html.ValidationMessageFor(model => model.Stats_State_Procedures)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Private_Procedures_Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_Private_Procedures_Income)
            @Html.ValidationMessageFor(model => model.Stats_Private_Procedures_Income)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_State_Procedures_Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_State_Procedures_Income)
            @Html.ValidationMessageFor(model => model.Stats_State_Procedures_Income)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_State_Consultations_Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_State_Consultations_Income)
            @Html.ValidationMessageFor(model => model.Stats_State_Consultations_Income)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Caesarians)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_Caesarians)
            @Html.ValidationMessageFor(model => model.Stats_Caesarians)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_NVD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_NVD)
            @Html.ValidationMessageFor(model => model.Stats_NVD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Hysterectomies)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_Hysterectomies)
            @Html.ValidationMessageFor(model => model.Stats_Hysterectomies)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cover_Current_Provider)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cover_Current_Provider)
            @Html.ValidationMessageFor(model => model.Cover_Current_Provider)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cover_Current_Years)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cover_Current_Years)
            @Html.ValidationMessageFor(model => model.Cover_Current_Years)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stats_Surgery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stats_Surgery)
            @Html.ValidationMessageFor(model => model.Stats_Surgery)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Claims_Enquiries)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Claims_Enquiries)
            @Html.ValidationMessageFor(model => model.Claims_Enquiries)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Claims_Actual)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Claims_Actual)
            @Html.ValidationMessageFor(model => model.Claims_Actual)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Claims_HPCSA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Claims_HPCSA)
            @Html.ValidationMessageFor(model => model.Claims_HPCSA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Claims_Circumstances)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Claims_Circumstances)
            @Html.ValidationMessageFor(model => model.Claims_Circumstances)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Material_Facts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Material_Facts)
            @Html.ValidationMessageFor(model => model.Material_Facts)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Premium_Period_Type_ID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Premium_Period_Type_ID", (IEnumerable<SelectListItem>)ViewData["list4"], new { id = "Premium_Period_Type_ID",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Premium_Period_Type_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Declaration_Quote)
        </div>
        <div class="editor-field">
            @Html.CheckBox("Declaration_Quote", new { required = true,maxlength = 5,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Declaration_Quote,"Please Declare")
        </div>

       

        

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
    <script language="javascript">
        $("#Stats_Private_Consultations").numericOnly();

        $("#Businesstype_ID").attr("data-val-number", "The Business Type is required.")
        $("#Business_Discipline_ID").attr("data-val-number", "The Business Discipline is required.")
        $("#Limit_PerClaim_ID").attr("data-val-number", "Limit Per Clain is required.")
        $("#Limit_PerPeriod_ID").attr("data-val-number", "Limit Per Period is required.")
        $("#Premium_Period_Type_ID").attr("data-val-number", "The Premium Period Type is required.")
        //$("#Stats_Private_Consultations").attr("data-val-number", "The Business Type is a required field.")
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

