@model NM_Forms.BL.ClientMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClientMaster</legend>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.ClientMaster_ID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.ClientMaster_ID)
            @Html.ValidationMessageFor(model => model.ClientMaster_ID)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.UniqueID)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.UniqueID)
            @Html.ValidationMessageFor(model => model.UniqueID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_Title)
            @Html.ValidationMessageFor(model => model.Name_Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_First)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_First)
            @Html.ValidationMessageFor(model => model.Name_First)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_Last)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_Last)
            @Html.ValidationMessageFor(model => model.Name_Last)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_Initials)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_Initials)
            @Html.ValidationMessageFor(model => model.Name_Initials)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_Preferred)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_Preferred)
            @Html.ValidationMessageFor(model => model.Name_Preferred)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Birth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Birth)
            @Html.ValidationMessageFor(model => model.Date_Birth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_Identity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_Identity)
            @Html.ValidationMessageFor(model => model.REF_Identity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_Practitioner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_Practitioner)
            @Html.ValidationMessageFor(model => model.REF_Practitioner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_Practice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_Practice)
            @Html.ValidationMessageFor(model => model.REF_Practice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_Registered_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_Registered_Name)
            @Html.ValidationMessageFor(model => model.REF_Registered_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_Registration_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_Registration_Number)
            @Html.ValidationMessageFor(model => model.REF_Registration_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REF_VAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REF_VAT)
            @Html.ValidationMessageFor(model => model.REF_VAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_Email)
            @Html.ValidationMessageFor(model => model.Contact_Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_Mobile)
            @Html.ValidationMessageFor(model => model.Contact_Mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_Practice1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_Practice1)
            @Html.ValidationMessageFor(model => model.Contact_Practice1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_Practice2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_Practice2)
            @Html.ValidationMessageFor(model => model.Contact_Practice2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_Home1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_Home1)
            @Html.ValidationMessageFor(model => model.Contact_Home1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1A)
            @Html.ValidationMessageFor(model => model.Postal_Address_1A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1B)
            @Html.ValidationMessageFor(model => model.Postal_Address_1B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1C)
            @Html.ValidationMessageFor(model => model.Postal_Address_1C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1D)
            @Html.ValidationMessageFor(model => model.Postal_Address_1D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_SuburbID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_SuburbID)
            @Html.ValidationMessageFor(model => model.Postal_Address_SuburbID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1E)
            @Html.ValidationMessageFor(model => model.Postal_Address_1E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_CityID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_CityID)
            @Html.ValidationMessageFor(model => model.Postal_Address_CityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1F)
            @Html.ValidationMessageFor(model => model.Postal_Address_1F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postal_Address_1G)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postal_Address_1G)
            @Html.ValidationMessageFor(model => model.Postal_Address_1G)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1A)
            @Html.ValidationMessageFor(model => model.Practice_Address_1A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1B)
            @Html.ValidationMessageFor(model => model.Practice_Address_1B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1C)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1C)
            @Html.ValidationMessageFor(model => model.Practice_Address_1C)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1D)
            @Html.ValidationMessageFor(model => model.Practice_Address_1D)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_SuburbID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_SuburbID)
            @Html.ValidationMessageFor(model => model.Practice_Address_SuburbID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1E)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1E)
            @Html.ValidationMessageFor(model => model.Practice_Address_1E)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_CityID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_CityID)
            @Html.ValidationMessageFor(model => model.Practice_Address_CityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1F)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1F)
            @Html.ValidationMessageFor(model => model.Practice_Address_1F)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Practice_Address_1G)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Practice_Address_1G)
            @Html.ValidationMessageFor(model => model.Practice_Address_1G)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.InitialKey)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.InitialKey)
            @Html.ValidationMessageFor(model => model.InitialKey)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.RequiresPasswordChange)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.RequiresPasswordChange)
            @Html.ValidationMessageFor(model => model.RequiresPasswordChange)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.ProviderUserKey)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.ProviderUserKey)
            @Html.ValidationMessageFor(model => model.ProviderUserKey)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
