@model IEnumerable<NM_Forms.BL.QuoteFeedback>

@{
    ViewBag.Title = "QuotationsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuotationsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellpadding="10">
    <tr>
        <th>
            Insurer
        </th>
        <th>
            Indemnity Limit
        </th>
        <th>
            Premium
        </th>
        <th>
            Excess
        </th>
        <th>
            Exess Type
        </th>
        <th>
            Expires
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Insurer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indemnity_limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Premium_Annual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Excess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Excess_Type)
        </td>
        <td>
           @Html.Raw(String.Format("{0:dd/MMM/yyyy}",item.Quote_Expiry_Datetime))
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Accept", "Accept", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
