@model IEnumerable<NM_Forms.BL.INTERFACE_ClientAwaitingQuotes>

@{
    ViewBag.Title = "Quotes Per Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quotes Per Clients</h2>

<table cellpadding="10">
    <tr>
        <th>
            Client
        </th>
        <th>
            Date
        </th>
        <th>
            Nr. Quotes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.Raw(String.Format("{0:dd/MMM/yyyy}",item.RequestDate))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrQuotes)
        </td>
        <td>
            @Html.ActionLink("Add Quote", "AddQuote", new {  id=item.QuoteRequestID  }) |
            @Html.ActionLink("List Quotes", "QuotesPerClient", new {  id=item.QuoteRequestID  }) |
            @Html.ActionLink("Finalise", "Finalise", new {  id=item.QuoteRequestID  })
        </td>
    </tr>
}

</table>
