@model NM_Forms.BL.ClientMaster

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClientMaster</legend>

       

        <div class="editor-label">
            <label for="Name_Title">Title</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("Name_Title", (IEnumerable<SelectListItem>)ViewData["danhsach"], new { id = "Name_Title",required = true,maxlength = 10,placeholder = "" })
            @Html.ValidationMessageFor(model => model.Name_Title)
        </div>

        <div class="editor-label">
            <label for="Name_Title">First Name</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name_First, new { required = true,maxlength = 10,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Name_First)
        </div>

        <div class="editor-label">
            <label for="Name_Last">Last Name</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name_Last, new { required = true,maxlength = 10,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Name_Last)
        </div>

        <div class="editor-label">
            <label for="Name_Initials">Initials</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name_Initials, new { required = true,maxlength = 5,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Name_Initials)
        </div>

       
        <div class="editor-label">
           <label for="Name_Title">Birth Date</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date_Birth, new { required = true,maxlength = 30,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Date_Birth,"This field is required")
        </div>

        <div class="editor-label">
            <label for="REF_Identity">Identity/Passport Nr.</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.REF_Identity, new { required = true,maxlength = 30,placeholder = ""})
            @Html.ValidationMessageFor(model => model.REF_Identity)
        </div>

        <div class="editor-label">
            <label for="REF_Practitioner">Practisioner name</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.REF_Practitioner, new { required = true,maxlength = 50,placeholder = ""})
            @Html.ValidationMessageFor(model => model.REF_Practitioner)
        </div>

        <div class="editor-label">
            <label for="Contact_Email">Your Email Address</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Contact_Email, new { required = true,maxlength = 30,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Contact_Email)
        </div>

        <div class="editor-label">
            <label for="Contact_Mobile">Your Mobile Number</label>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Contact_Mobile, new { required = true,maxlength = 10,placeholder = ""})
            @Html.ValidationMessageFor(model => model.Contact_Mobile)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Date_Birth").datepicker({
            dateFormat: 'dd MM yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: '1900:2000'
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
